.film-attribute {
    color: #ffb703;
}

.film-details {
    position: relative;
    margin: 20px auto;
    max-width: 600px;
    padding: 15px;
    background-color: #000;
    border-radius: 8px;
    border: 2px solid #003566;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    align-items: flex-start;
}

.film-details h1 {
    margin-top: 0;
    color: #588157;
}

.film-details h2 {
    margin-top: 0;
    color: #b8c0ff;
}

.film-details img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: 70px;
}

.film-media {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.icon-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.icon-buttons form {
    display: inline;
    margin: 0 5px;
}

.icon-buttons button {
    background: none;
    border: none;
    color: #ffb703;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.icon-buttons button:hover {
    color: #e36414;
}

.purchase-button {
    position: absolute;
    background-color: #ffb703;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    right: 20px;
    bottom: 20px;
}

.purchase-button:hover {
    background-color: #e36414;
    color: #fff;
}

.purchased-button {
    position: absolute;
    background-color: #808080;
    color: #ffffff;
    cursor: not-allowed;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: none;
    right: 20px;
    bottom: 20px;
}

.price-info {
    font-size: 20px;
    color: #fdf0d5;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.price-info i {
    margin-right: 10px;
    color: #e36414;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

.categories li {
    margin: 0 10px;
    position: relative;
    font-size: 18px;
}

.categories li:not(:last-child)::after {
    content: '\2022';
    color: #bbb;
    font-size: 20px;
    margin-left: 16px;
}

.categories a {
    text-decoration: underline;
    color: #fb8500;
    cursor: pointer;
    font-size: 20px;
}

.categories a:hover {
    text-decoration: none;
}

.comment-container {
    background-color: #1c1c1c;
    border: 2px solid #003566;
    border-radius: 8px;
    padding: 20px;
    max-width: 1080px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    flex: 1;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}

.comment-container h3 {
    color: #fff;
    margin-top: 0;
    border-bottom: 2px solid #003566;
    padding-bottom: 10px;
}

.comment-container form {
    margin-bottom: 20px;
}

.comment-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #003566;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    resize: vertical;
    margin-bottom: 10px;
}

.comment-container button {
    background-color: #ffb703;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-container button:hover {
    background-color: #e36414;
    color: #fff;
}

.comment-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.comment-container ul li {
	display: flex;
	flex-direction: column;
    background-color: #000;
    border: 1px solid #003566;
    border-left: 4px solid #e2121d;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    position: relative;
}

.comment-container ul li p {
    margin: 5px 0;
}

.comment-container ul li small {
    display: block;
    color: #888;
    font-size: 14px;
    border-bottom: 1px dashed #888;
    margin-top: 3px;
}

.comment-container .comment-actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.comment-container .comment-actions button {
    background: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s;
    margin: 0px;
    padding: 5px;
    border-bottom: 1px solid #888;
}

.comment-container .comment-actions button.active{
	color: #e2121d;
}

.comment-container .comment-actions button:hover {
    color: #e2121d;
}

.comment-content {
	flex: 1;
}

.comment-actions {
    display: flex;
    align-items: center;
    padding-top: 30px;
    gap: 10px;
}

.comment-actions button {
    background: none;
    border: none;
    color: #ffb703;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.3s;
}

.comment-actions button:hover {
    color: #e2121d;
}

.reply-button {
    font-size: 14px;
    color: #ffb703;
}

.reply-form-container {
    margin-top: 10px;
}

.reply-form-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #003566;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    resize: vertical;
    margin-bottom: 10px;
}

.reply-form-container button {
    background-color: #ffb703;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reply-form-container button:hover {
    background-color: #e36414;
    color: #fff;
}

.replies {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    background-color: #111;
    border: 1px solid #003566;
    border-left: 4px solid #ffb703;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 10px;
    color: #fff;
    position: relative;
}

.replies .reply-item {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 10px;
	border-bottom: 2px solid #888;
}

.replies .reply-item .reply-content {
    flex: 1;
}

.replies .reply-item .reply-actions {
	position: absolute;
    bottom: 10px;
    right: 10px;
}

.replies .reply-item .reply-actions button {
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s;
    margin: 0px;
    padding: 5px;
    border-bottom: 1px solid #888;
}

.replies .reply-item .reply-actions button.active {
    color: #e2121d;
}

.replies .reply-item .reply-actions button:hover {
    color: #e2121d;
}

.comment-container ul .replies small {
    display: block;
    color: #888;
    font-size: 14px;
    border-bottom: 1px dashed #888;
    margin-top: 3px;
}